# =========================================================
# CypherNode — .gitignore
# =========================================================

# Secret credentials — NEVER push to public repo
secrets.h

# Arduino build artifacts
build/
*.elf
*.bin
*.hex
*.map

# VSCode local settings
.vscode/

# Hide Backup code from github
backup/
*.ino
*.h

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
